@font-face {
  font-family: Futura;
  src: url("../fonts/FuturaStd-Medium_0.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: 'Futura', serif;
}
.invalid-feedback {
  display: block !important;
}
.btn {
  background-color: $darkbrown;
  color: white;
  border-color: $darkbrown;

  &:hover{
    background-color: $darkbrown;
    border-color: $darkbrown;
    color: $yellow;
  }
}
.home {
  .intro {
    background-color: $mustard;
  }
}
.social-links{
  a {
    background-color: $darkbrown;
    padding: 10px 17px;
    color: white;
    font-size: 1.5em;

    &:hover{
      color: $yellow;
    }
  }
}
// Footer Styles
footer {
  background-color: $darkbrown;
  color: white;

  ul {
    margin-bottom: 0.2em;
    li {
      a {
        color: white;
        position: relative;
        padding-right: 6px;     
        
        &::after{
          position: absolute;
          right: 0;
          content: '|';
          width: 1px;
        } 
        
        &:hover{
          color: $yellow;
          text-decoration: underline;
        }
      }

      &:last-child{
        ::after{
          content: ''
        }
      }

      
    }
  }
}